.modal {

    &__title {
        margin-bottom: 12px;
        
        @include font (700, 20px, 1.15);
        text-align: center;
        
        color:$title-text-color;
    }
    
    &__form-label {
        position: relative;
        display: flex;
        flex-direction: column;
    
        margin-bottom: 10px;
    
        color: $primary-text-color;
    
        @include font(400, 12px, 1.17, 0.01em)
    }
    
    &__form-text {
        margin-bottom: 4px;
    }
    
    &__form-input {
        position: relative;
        height: 40px;
        padding-left: 35px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        
            &:hover+ .modal__form-icon,
            &:focus+ .modal__form-icon {
            fill: $accent-color;
            transition: fill 250ms $transition-effect;  
    }

    }
    
    &__form-icon {
        position: absolute;
        left: 12px;
        bottom: 11px;
        
        fill: $title-text-color;
    }
    
    &__form-comment {
        display: flex;
        flex-direction: column;
    
        color: $primary-text-color;
    
        @include font(400, 12px, 1.16, 0.01em);
        margin-bottom: 20px;
    }
    
    &__comment-area {
        resize: none;
        height: 120px;
        padding: 12px 16px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;

        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    }
    
    
    &__form-input:hover,
    &__form-input:focus,
    &__comment-area:hover,
    &__comment-area:focus {
        border: 1px solid $accent-color;
        transition: border 250ms $transition-effect;
    }
    
}

