.our-team {
    background-color: $secondary-gray-color;
    
    &__title {
        margin-bottom: 50px;
    }

    &__list {
        @include gap ();
    }
    &__list-item {
        background-color: $primary-white-color;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    &__list-wrapper {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__list-title {
        margin-bottom: 10px;
    
        color: $title-text-color;
    
        @include font (500, 16px, 1.19); 
        text-align: center;
    }
    
    &__list-content {
        @include font (400, 16px, 1.19);
        text-align: center;
    
        margin-bottom: 16px;
    }
}


.network-list {
    @include gap (10px);
    margin: 0 32px;
    align-items:center;
    
    &__link {
        @include flexed ();
        border-radius:50%;
        height: 44px;
        width: 44px;
    
        fill: $fill-icon;
        color: $primary-white-color;
    
        transition: background-color 250ms $transition-effect,
        fill 250ms $transition-effect;

        &:hover,
        &:focus {
            background-color: $accent-color;
            fill: currentColor;
        } 
    }

    &__link--color {
        background-color: $background-transform-light-gray;
        fill: $primary-white-color;
    }
    
}
