.footer {
  &__network {
    margin: auto;
    margin-bottom: 60px;
    width: 206px;
    text-align: center;

    // @media screen and (min-width: 1200px) {
    //   margin-left: 70px;
    //   margin-bottom: none;
    //   text-align: none;
    // }
  }

  &__network-title {
    margin-bottom: 20px;

    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;
    color: $primary-white-color;

    // @media screen and (min-width: 1200px) {
    //   @include font(700, 14px);
    //   text-align: none;
    // }
  }

  &__network-list {
    @include flexed($justifyContent: space-between);
    margin: 0;
  }
}
