.footer {
  &__wrapper {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      align-items: baseline;
      gap: 165px;
      margin-left: 76px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      gap: 70px;
    }
  }

  &__network {
    width: 206px;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin: auto;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: none;
    }
  }

  &__network-title {
    margin-bottom: 20px;

    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;
    color: $primary-white-color;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__network-list {
    @include flexed($justifyContent: space-between);
    margin: 0;
  }
}
