.modal {

    &__checkbox {
        position: absolute;
        opacity: 0;
        
        z-index: -1;


        &:checked+ .modal__checkbox-label .modal__checkbox-new {
            border: none;
        }
        
        &:checked+ .modal__checkbox-label .modal__checkbox-new .modal__checkbox-icon {
            opacity: 1;
            transition: opacity 250ms $transition-effect;
        }
    }
    
    &__checkbox-label {
        @include flexed();
        @include gap(7px);
    
        margin-bottom: 30px;
            
        cursor: pointer;
    }
    
    &__checkbox-new {
        position: relative;
    
        @include flexed();
    
        width: 16px;
        height: 15px;
    
        border: 2px solid $title-text-color;
        border-radius: 2px;
    }
    
    &__checkbox-icon {
        opacity: 0;
    }
    
    &__checkbox-text {
        @include font($lineHeight:1.71);
    
        color: $primary-text-color;
    }
    
    &__checkbox-link {
        @include font($lineHeight: 1.71);
    
        color: $accent-color;
    }
    
    
    &__checkbox-btn {
        display: block;
        padding: 10px 52px;
        margin: 0 auto;
        height: 50px;
        width: 200px;
        
        border: none;
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
        font-family: inherit;
    }
    
}
