.our-portfolio {

    &__list {
        @include gap();
        flex-wrap: wrap;
    }
    
    &__list-link {
        display: block;
        text-decoration: none;
    
        transition: box-shadow 250ms $transition-effect;
        
        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:hover .our-portfolio__project-overlay {
            transform: translatey(0);
        }
    }
    
    &__project {
        position: relative;
        overflow: hidden;
    }
    
    &__project-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
        padding: 63px 24px;   
    
        color: $primary-white-color;
        background-color: $accent-color;
        opacity: 0.9;
     
        @include font(400, 18px, 1.6, 0.03em);
    
        transform: translatey(100%);
        transition: transform 250ms $transition-effect;
    }
    
    &__project-card {
        border: 1px solid #EEEEEE;
        border-top: none;
        padding: 20px 24px;
    }
    
    &__project-title {
        margin-bottom: 4px;
    
        color: $title-text-color;
    
        @include font(700, 18px, 2, 0.06em);
    }
    
    &__project-text {
        color: $primary-text-color;
    
        @include font(400, 16px, 1.9);
    }
}



