.footer {
    &__network {
        margin-left: 70px;
        width: 206px;
    }
    
    &__network-title {
        margin-bottom: 20px;

        @include font(700, 14px); 
        text-transform: uppercase;
    
        color: $primary-white-color;
    }
    
    &__network-list {
        @include flexed ($justifyContent:space-between);
        margin: 0;
    }
}
